#-------------------------- PeldorFit Configuration File ----------------------------

# Operation mode: 0 - simulation, 1 - fitting, 2 - validation
#------------------------------------------------------------------------------------
mode = 1;


# Experimental
#------------------------------------------------------------------------------------
experiments = (
	{
		name = "timetrace1";
		filename = "examples/trityl_triradical_Qband_PELDOR/timetrace.dat"; 
		technique = "4pELDOR-rect";
		magnetic_field = 1.2014189;
		detection_frequency = 33.715451;
		detection_pulse_lengths = [64, 132];
		pump_frequency = 33.699450;
		pump_pulse_lengths = [56];
		noise_std = 0;
	}
);


# Spin system
#------------------------------------------------------------------------------------
spins = (
	{
		g = [2.0041, 2.0041, 2.0041];
		gStrain = [];
		n = (1);
		I = (0.5);
		Abund = (0.08);
		A = ([32, 32, 32]);
		AStrain = ([15, 15, 15]);
		lwpp = 7;
		T1 = 0;
		g_anisotropy_in_dipolar_coupling = 0;
	},
	{
		g = [2.0041, 2.0041, 2.0041];
		gStrain = [];
		n = (1);
		I = (0.5);
		Abund = (0.08);
		A = ([32, 32, 32]);
		AStrain = ([15, 15, 15]);
		lwpp = 7;
		T1 = 0;
		g_anisotropy_in_dipolar_coupling = 0;
	},
	{
		g = [2.0041, 2.0041, 2.0041];
		gStrain = [];
		n = (1);
		I = (0.5);
		Abund = (0.08);
		A = ([32, 32, 32]);
		AStrain = ([15, 15, 15]);
		lwpp = 7;
		T1 = 0;
		g_anisotropy_in_dipolar_coupling = 0;
	}
);


# Simulation
#------------------------------------------------------------------------------------
simulation_parameters:
{
	r_mean      = ([]);
	r_width     = ([]);
    xi_mean     = ([]);
    xi_width    = ([]);
	phi_mean    = ([]);
	phi_width   = ([]);
	alpha_mean  = ([]);
    alpha_width = ([]);
	beta_mean   = ([]);
	beta_width  = ([]);
	gamma_mean  = ([]);
    gamma_width = ([]);
	rel_prob    = ([]);
	j_mean      = ([]);
	j_width     = ([]);
};


# Fitting
#------------------------------------------------------------------------------------
fitting_parameters:
{
    r_mean		: {optimize = ([1],[1]); range = ([3.00, 4.00], [3.00, 4.00]); value = ()        };
	r_width		: {optimize = ([1],[1]); range = ([0.00, 0.50], [0.00, 0.50]); value = ()        };
    xi_mean		: {optimize = ([0],[1]); range = ([ 0.0, 90.0]);               value = (0.0)     };
    xi_width	: {optimize = ([0],[1]); range = ([ 0.0, 90.0]);               value = (0.0)     };
	phi_mean	: {optimize = ([0],[0]); range = ();                           value = (0.0, 0.0)};
	phi_width	: {optimize = ([0],[0]); range = ();                           value = (0.0, 0.0)};
	alpha_mean	: {optimize = ([0],[0]); range = ();                           value = (0.0, 0.0)};
    alpha_width	: {optimize = ([0],[0]); range = ();                           value = (0.0, 0.0)};
	beta_mean	: {optimize = ([0],[0]); range = ();                           value = (0.0, 0.0)};
	beta_width	: {optimize = ([0],[0]); range = ();                           value = (0.0, 0.0)};
	gamma_mean	: {optimize = ([0],[0]); range = ();                           value = (0.0, 0.0)};
    gamma_width	: {optimize = ([0],[0]); range = ();                           value = (0.0, 0.0)};
	rel_prob	: {optimize = ([0],[0]); range = ();                           value = (1.0, 1.0)};
	j_mean		: {optimize = ([0]);     range = ();                           value = (0.0)     };
	j_width		: {optimize = ([0]);     range = ();                           value = (0.0)     };
};

fitting_settings:
{
    optimization_method = "ga_local";
	parameters : {number_of_runs = 5,
				  number_of_generations = 1000, 
	              generation_size = 128, 
	              crossover_probability = 0.5, 
				  mutation_probability = 0.01,
				  crossover_probability_increment = 0,
				  mutation_probability_increment = 0.01,
	              parent_selection = "tournament",
				  nelder_mead_maxiter = 200};
	display_graphics = 0;
	goodness_of_fit = "chi2";
};


# Error analysis
#------------------------------------------------------------------------------------
error_analysis_parameters:
{
	parameters = (["r_mean", "r_width"], ["r_mean", "r_width"], ["xi_mean", "xi_width"]);
	spin_pairs = ([1,1], [2,2], [2,2]);
	components = ([1,1], [1,1], [1,1]);
};

error_analysis_settings:
{
    sample_size = 10000;
	confidence_interval = 3;
    filepath_optimized_parameters = "";
};


# Calculation
#------------------------------------------------------------------------------------
calculation_settings:
{
	integration_method = "monte_carlo"
	mc_sample_size = 100000;
	distributions : {r = "normal", xi = "vonmises", phi = "vonmises", alpha = "vonmises", beta = "vonmises", gamma = "vonmises", j = "normal"};
	excitation_treshold = 0.001;
	euler_angles_convention = "ZXZ";
	background_model = "exp";
	background_parameters = {
		decay_constant : {optimize = 1; range = [0, 1]; value = 0.05};
		scale_factor   : {optimize = 1; range = [0, 2]; value = 1   };
	};
};


# Output
#------------------------------------------------------------------------------------  
output:
{
    directory = "";
    save_data = 1;
    save_figures = 1;
};

### eof