#-------------------------- PeldorFit Configuration File ----------------------------

# Operation mode: 0 - simulation, 1 - fitting, 2 - validation
#------------------------------------------------------------------------------------
mode = 0;


# Experimental parameters
#------------------------------------------------------------------------------------
experiments = (
	{
		name = "offset 1";
		filename = "examples/example02_ls_iron(III)_trityl_Qband_RIDME/timetrace.dat"; 
		technique = "5pRIDME-rect";
		magnetic_field = 1.2014;
		detection_frequency = 33.700015;
		detection_pulse_lengths = [12, 24];
		pump_frequency = 0;
		pump_pulse_lengths = [0];
		mixing_time = 100;
		temperature = 10;		
	}
);


# Spin system parameters
#------------------------------------------------------------------------------------
spins = (
	{
		g = [1.56, 2.28, 2.91];
		gStrain = [];
		n = ();
		I = ();
		A = ();
		AStrain = ();
		lwpp = 50;
		T1 = 35;
		g_anisotropy_in_dipolar_coupling = 0;
	},
	{
		g = [2.0038, 2.0038, 2.0038];
		gStrain = [];
		n = ();
		I = ();
		A = ();
		AStrain = ();
		lwpp = 18;
		T1 = 88000;
		g_anisotropy_in_dipolar_coupling = 0;
	}
);


# Simulation settings
#------------------------------------------------------------------------------------
simulation_parameters:
{
	r_mean      = ([2.64]);
	r_width     = ([0.06]);
    xi_mean     = ([90.0]);
    xi_width    = ([25.0]);
	phi_mean    = ([45.0]);
	phi_width   = ([20.0]);
	alpha_mean  = ([0.0]);
    alpha_width = ([0.0]);
	beta_mean   = ([0.0]);
	beta_width  = ([0.0]);
	gamma_mean  = ([0.0]);
    gamma_width = ([0.0]);
	rel_prob    = ([1.0]);
	j_mean      = ([0.0]);
	j_width     = ([0.0]);
};


# Calculation settings
#------------------------------------------------------------------------------------
calculation_settings:
{
	integration_method = "monte_carlo" // Options: "monte_carlo", "grids"
	mc_sample_size = 1000000;
	grid_size : {powder_averaging = 200, distances = 100, spherical_angles = 200, rotations = 4608};
	distributions : {r = "normal", xi = "vonmises", phi = "vonmises", alpha = "vonmises", beta = "vonmises", gamma = "vonmises", j = "normal"};
	#distributions : {r = "normal", xi = "normal", phi = "normal", alpha = "normal", beta = "normal", gamma = "normal", j = "normal"};
	#distributions : {r = "normal", xi = "uniform", phi = "uniform", alpha = "uniform", beta = "uniform", gamma = "uniform", j = "uniform"};
	excitation_treshold = 0.001
	fit_modulation_depth = 1
	interval_modulation_depth = 1
};


# Output settings
#----------------------------   
output:
{
    directory = "";
    save_data = 1;
    save_figures = 0;
};

### eof